.top-navigation-bar {
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
}

.top-navigation-bar__logo-separator {
  border-right: 1px solid #ccc;
  height: 70%;
}

.top-navigation-bar__center {
  flex-grow: 1;
  justify-content: center;
}
